:root {
--background-color: linear-gradient(to top, #c79081 0%, #dfa579 100%);
--button-color: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
}
body {
  background: var(--background-color);
}

h1 {
  text-align: center;
  color: white;
}

.navigation-links a {
  margin: 20px;
  color: white;
  background: var(--button-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
