:root {
  --background-color: linear-gradient(to right, #434343 0%, black 100%);
  --button-color: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
body {
  background: var(--background-color);
}

h1 {
  text-align: center;
  color: white;
}
#semla {
  max-width: 60%;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
}
.navigation-links a {
  margin: 10px;
  color: white;
  background: var(--button-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
